*{
    font-family: 'Open Sans';
    box-sizing: border-box;
}
.miniBar{ 
    top:110%;
    position: absolute;
    width: 98%;
    height: 0%;
    background: url(back.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
    z-index: 5;
}


.Container{
    min-height: 70%; 
    min-width: 36%;
    opacity: 2;  
    top: 20%;
    left: 35%;
    position: absolute;  
}


.Container> .Content {
    max-height: 40%;
    min-height: 120px;
    overflow-y: scroll;
    
}

#inventory {
    left:69%;
    min-width: 29.5%;
}

.health{
    width: 13.4%;
    height: 4%;
    position: absolute;
    top:51.5%;
    left: 12%;
}
.health > .Profile canvas{
    top:-500%;
    position: absolute;
    left: -70%;
    max-height: 1000%;
    max-width: 80%;
}
