body
{
    position:absolute;
    background-position: top;
    background-size :auto;
    background-repeat: no-repeat;
    background-image: url("back.png");
}
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    
    background-color: rgb(200,200,200); /* Black fallback color */
    background-color: rgba(200,200,200, 0.85); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
   
}
/*.overlay::before
{
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-image: url("back.png");
    opacity: 0.5;
}*/
/* Position the content inside the overlay */
.overlay-content {
    color: #3d443c;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    opacity: 1;
}
#Welcome
{
    position: absolute;
    font-size: 35px;
    color: #db8653;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    opacity: 1;
}
/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus, input:hover {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
form input:not([type="submit"])
{
    box-shadow:inset 0 0 2px 2px #3d443c;
   /* border: 2px solid firebrick ;*/
    visibility: inherit;
    background: transparent;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}