body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: #818181;
    transition: 0.5s;
    overflow: scroll;
}

.overlay-content {
    position: relative;
    text-align: center;
    top: 30%;
    color: #fff;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #555;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay-content a  { 
    font-size:30px;
    color: #fff; 
    background-color: none;
    left: 0;
    cursor: pointer;
    width:400px;
    margin: auto;
    text-align: center;
    
} 
.overlay-content p{
    width: auto;
}

.overlay#TableOverlay {
    background-color: #fff;
    align-items:center;
}
.overlay-content#TableContent{
    color: black;
    width: 90%;
    left: 5%;
    table-layout: auto;
    top: 10%
}


.overlay-content table {
     width: auto;
     position:relative;
     align-self: center;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    align-self: center;
}
th, td {
    padding: 5px;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
table th {
    background-color: black;
    color: white;
}
table th#first {
    width: 5%;
}
.overlay-content#TableContent a{
    font-size:20px;
    color: #fff; 
    background-color: none;
    left: 0;
    cursor: pointer;
    width: auto;
    margin: auto;
    text-align: center;
}
.overlay-content#TableContent a:hover, .overlay-content#TableContent:focus {
    color: #555;
}

.butonRegister a{
    position: absolute;
    top: 35%;
    width: 100%;
    
}
.butonLogIn a{   
    position: absolute;
    top: 45%;
    width: 100%;
    color: #fff;
}
.butonPlay a{   
    position: absolute;
    top: 55%;
    width: 100%;
    color: #fff;
}
.butonRank a{
    position: absolute;
    top: 65%;
    width: 100%;
    color: #fff;
}
.hero-image {
  background-image: url("assets/background.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #555;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}
